[user]
	email = bauer@synyx.de
	name = David Bauer

[gui]
	spellingdictionary = none

[alias]
	cp = cherry-pick
	st = status
	fp = fetch --prune
	history = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short -n 10
	
[pager]
	log = false

[status]
	relativePaths = true

[core]
	excludesFile = ~/.gitignore
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
