[user]
	email = bauer@synyx.de
	name = David Bauer

[gui]
	spellingdictionary = en_GB

[alias]
	cp = cherry-pick
	st = status
	fp = fetch --prune
	history = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
