[user]
	email = bauer@synyx.de
	name = David Bauer

[gui]
	spellingdictionary = en_GB

[alias]
	cp = cherry-pick
	st = status
	fp = fetch --prune
	history = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short -n 10
	
[pager]
	log = false
